<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Consejos para cuidar la salud de tu mascota</title>
</head>

<body>
    <h2 id="titulopagina">Consejos para cuidar la salud de tu mascota</h2>
    <h3 id="subtitulopagina">Alimentación Saludable</h3>
    <p id="parrafopagina">La alimentación es esencial para la salud de tu mascota. Proporcionarle una dieta equilibrada
        y de alta calidad es fundamental. Asegúrate de ofrecer alimentos adecuados para la especie y la etapa de vida de
        tu mascota. Controla las porciones para evitar la obesidad. Consulta con un veterinario para elegir la dieta más
        adecuada.</p>
    <h3 id="subtitulopagina">Ejercicio y Actividad Física</h3>
    <p id="parrafopagina">El ejercicio es crucial para mantener a tu mascota en buena forma y estimular su mente. Dedica
        tiempo a jugar y hacer ejercicio con tu mascota. Realiza paseos diarios y proporciona juguetes interactivos.
        Mantén un equilibrio entre actividad y descanso.
    <h3 id="subtitulopagina">Atención Médica Preventiva</h3>
    <p id="parrafopagina">La atención médica preventiva es esencial para prevenir enfermedades y garantizar una vida
        larga y saludable a tu mascota. Programa visitas regulares al veterinario. Mantén al día las vacunas y el
        control de parásitos. Presta atención a signos de enfermedad y actúa rápidamente en caso de emergencia.

</body>

</html>