<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Razas de perros mas populares</title>
</head>
<body>
    <h2 id="titulopagina">Razas de perros mas populares</h2>
    <h3 id="subtitulopagina">Labrador Retriever</h3>
    <p id="parrafopagina">Los Labradores son perros de tamaño mediano a grande con un pelaje corto y denso que puede ser de color negro, chocolate o amarillo. Son conocidos por sus ojos expresivos y su cola fuerte, estos son amigables, cariñosos, inteligentes y enérgicos. Son excelentes compañeros para familias, niños y otros perros. 
        Requieren ejercicio diario y estimulación mental. El entrenamiento es esencial, y el cepillado regular ayuda a mantener su pelaje en buen estado.</p>
    <h3 id="subtitulopagina">Pastor Alemán</h3>
    <p id="parrafopagina">Los Pastores Alemanes son perros medianos a grandes con pelaje doble que puede ser negro, sable o gris. Tienen una apariencia atlética y musculosa.
        Son leales, inteligentes y protectores. Son perros de trabajo excepcionales y también pueden ser excelentes compañeros familiares.
        Ellos necesitan una socialización temprana y un entrenamiento consistente. Son altamente entrenables y destacan en deportes caninos como el agility.</p>
    <h3 id="subtitulopagina">Golden Retriever</h3>
    <p id="parrafopagina">Tienen un pelaje dorado y ondulado, con una apariencia fuerte pero amigable. Son de tamaño mediano a grande.
        Son conocidos por ser cariñosos, amigables, inteligentes y leales. Son una elección popular para familias.
        Requieren ejercicio regular y pueden ser propensos a problemas de salud como displasia de cadera. También necesitan cuidado del pelaje.</p>
</body>
</html>