<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Tecnicas para entrenar a tu perro</title>
</head>

<body>
    <h2 id="titulopagina">Tecnicas para entrenar a tu perro</h2>
    <h3 id="subtitulopagina">Estableciendo la Base para el Entrenamiento</h3>
    <p id="parrafopagina">Entrenar a tu perro comienza con una base sólida. Establece una rutina diaria para la
        alimentación, paseos y tiempos de juego. Utiliza refuerzos positivos como premios y elogios para recompensar
        buenos comportamientos. La paciencia y la consistencia son clave.
    <h3 id="subtitulopagina">Comandos Básicos y Socialización</h3>
    <p id="parrafopagina">Enseñar comandos básicos como "sentado," "quieto" y "venir" es esencial. La socialización
        temprana con otros perros y personas es importante para el comportamiento social de tu perro. Utiliza sesiones
        de entrenamiento cortas pero frecuentes para reforzar los comandos.
    <h3 id="subtitulopagina"> Entrenamiento Avanzado </h3>
    <p id="parrafopagina">A medida que tu perro progresa, puedes abordar comandos más avanzados como "acostado" y
        "quieto." Si surgen problemas de conducta, como ladridos excesivos o masticación destructiva, trabaja en
        soluciones específicas. Considera la posibilidad de inscribirte en clases de obediencia o buscar la ayuda de un
        entrenador profesional si es necesario.

</body>

</html>